body{
  font-family: "Inter", sans-serif;
  margin: 0;

}
.first-section{
    background-color: #394337;
    overflow: hidden;
    padding: 100px 0;
}
.hero-section{
    width: 80%;
    margin: auto;
}

.text{
    width: 40%;
    float: left;
}

.hey{
    color: #abaaaa !important;
    font-weight: 600 !important;
    font-size: 24px !important;
}

.text h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
    line-height: 0;
}

.text h2 span{
    color: #8EB684;
}

.text h3{
    color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
}

.text p{
    color: #A09E9E;
    font-weight: 600;
    font-size: 14px;
}

.profile-image{
    width: 40%;
    float: right;
    text-align: center;
}

.profile-image img{
    width: 65%;
    border: 5px solid #8EB684;
    border-radius: 50px;
    box-shadow: 0px 0px 30px #00000096;
}

.work-with{
    background-color: #5d655c;
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
}
.work-with h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;

}

.projects{
    background-color: #394337;
    overflow: hidden;
    padding: 100px 0;
}
.card-section{
    width: 80%;
    margin: auto;
    text-align: center;
}
.card-section #pro{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
}
.card-section #pro-det{
    color: #b5bab5;
    font-size: 18px;
    font-weight: 400;
    width: 40%;
    margin: auto;
    padding-bottom: 100px;
}

.gap{
    margin-right:5%;
    margin-left:5%;
}
.item{
    width: 30%;
    float: left;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px #00000057;
}
.info{
    padding: 10px 30px;
    text-align: start;
}

.info h3{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 0;
}
.info p{
    color: #000;
    font-size: 16px;
    font-weight: 400;

}
.item img{
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #8EB684;
}

.contact{
    background-color: #5d655c ;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
}
.form #pro{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    line-height: 0;
}
.form #pro-det{
    color: #b5bab5;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

form{
    width: 35%;
    margin: auto;
    overflow: hidden;
}

form input{    
    width: 85%;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    border: 2px solid #8EB684;
}
button{
    padding: 16px 66px;
    background-color: #8EB684;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

footer{
    text-align: center;
    overflow: hidden;
    background-color:#394337 ;
    color: #8EB684;
}